.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;

  border-radius: 5px;
  display: grid;
  place-items: center;
  background: linear-gradient(
    45deg,
    #ffd700,
    #32cd32
  ); /* Градиент от золотистого к зеленому */
}
.accept-input {
  border: 2px solid #32cd32;
}
.container-not-error {
  border: 1px solid #ccc;
}
.container-error {
  border: 3px solid rgb(194, 2, 2);
}
.error-input {
  border: 2px solid rgb(194, 2, 2);
}
.register-button {
  font-family: "Montserrat", Arial, sans-serif;
  display: block;
}
.error {
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 10px 20px;
  border: 2px solid #27ae60; /* Зеленый цвет границы */
  border-radius: 10px;
  background-color: #2ecc71; /* Зеленый цвет фона */
  color: #fff;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s, border-radius 0.3s;
}

.empty {
  border: 2px solid red;
}
